body {
  overflow: auto;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  background: #d3d3d3;
  background: -webkit-linear-gradient(to right, #decba4, #3e5151);
  background: linear-gradient(to right, #d3d3d3, #8B8B8B);
}
